<meta charset="UTF-8">
<meta name="Expo-Post">
<title>Expo Post</title>
<meta property="og:title" content="Expo-Post">
<meta property="og:site_name" content="expo-post.com">
<meta property="og:type" content="website">
<meta property="og:description" content="Better social media website (WIP)">
<meta name="keywords" content="SOCIAL-MEDIA,BETTER,CHAT,MESSAGE">
<meta name="description" content="Better social media website (WIP)">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="https://api.expo-post.com/index.css">-->
<link rel="stylesheet" href="http://127.0.0.1:3001/index.css"> <!-- DEV TESTING -->

<!-- Allow Cookies-->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

<style>
  body { padding-top:50px; }
</style>