<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headDev'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
  </div>
</main>
  <%- include('../partials/cookielogic') %>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>