<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/headActive'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Jot down your thoughts...</h1>
        <p>We promise we won't peek</p>
        <input></input>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>